* {
  --tile-size: 60px;
  --grid-gap: 4px;

  --yellow: #f0e88b;
  --green-1: #71bca3;
  --green-1-light: #c5e6d9;
  --beige: #fff9e3;
  --light-green: #d4dda2;
  --grey: #b7b398;
}

html {
  margin: 0px;
  min-height: 100vh;
  display: flex;
}

body {
  padding: 16px;
  background-color: #71bca3;
  background-image:  linear-gradient(#A9D6C7 1.3px, transparent 1.3px), linear-gradient(to right, #A9D6C7 1.3px, #71bca3 1.3px);
  background-size: 26px 26px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: calc(8 * var(--grid-gap));
}


select {
  font-size: 1rem;
  padding: 0rem 0.25rem;
  border: 1px solid #000;
  background-color: #fff;
  min-width: 50px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #000;
}

table {
  overflow: hidden;
  display: block;
}

table, th, td {
  border-collapse: collapse;
}

button {
  background-color: transparent;
}

footer {
  padding: 1rem;
  background-color: #fff;
  text-align: center;
  color: #000;
  border-radius: 16px;
  margin: 0 auto;
}

input[type="text"] {
  height: 24px;
  border-radius: 8px;
  border: 1px solid black;
}
