* {
  --tile-size: 40px;
  --grid-gap: 4px;
}

select {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid black;
  background-color: white;
  min-width: 100px;
}

table {
  overflow: hidden;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}