.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--grid-gap);
}

.main > section.left {
  flex: 1;
  flex-basis: 300px;
}

.left form {
  display: flex;
  flex-direction: column;
  gap: var(--grid-gap);
  align-items: stretch;
}

.pupilLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--grid-gap);
}

.exportButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--grid-gap);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  user-select: none;
}

.exportButton .exportIcon {
  font-size: 24px;
}

.main > section.right {
  flex: 2;
  flex-basis: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right > button {
  height: 40px;
  width: 200px;
}

.gridContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: var(--grid-gap);
}

.grid {
  display: flex;
  flex-direction: column;
  gap: var(--grid-gap);
}

.seatGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: var(--grid-gap);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--grid-gap);
}

.addRow {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  height: calc(var(--tile-size) * 0.75);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  user-select: none;
  font-size: 24px;
}

.addRow:hover {
  box-shadow: 0px 2px 6px 1px #999999;
}

.columnButtons {
  display: flex;
  flex-direction: column;
  gap: var(--grid-gap);
  margin-top: calc(var(--tile-size) + var(--grid-gap) + 2px);
  margin-bottom: calc(var(--tile-size) + var(--grid-gap));
}

.addColumn {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  width: calc(var(--tile-size) * 0.75);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  user-select: none;
  font-size: 24px;
}

.addColumn:hover {
  box-shadow: 0px 2px 6px 1px #999999;
}

.seatTile {
  width: var(--tile-size);
  height: var(--tile-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  transition: all 0.1s ease-in-out;
  user-select: none;
  text-align: center;
  overflow-wrap: anywhere;
}

.seatTile:hover {
  box-shadow: 0px 2px 6px 1px #999999;
}

.indicator {
  min-width: var(--tile-size);
  min-height: var(--tile-size);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  user-select: none;
  background-color: #fff;
  color: #000;
  border: 1px solid white;
}

.selectedSeatTile {
  background-color: #999999;
  color: #000;
}

.blackboardTile {
  width: 400px;
  margin-bottom: 30px;
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: #000;
  color: #fff;
  transition: all 0.1s ease-in-out;
  user-select: none;
}

.pupilContainer {
  display: flex;
  flex-direction: column;
  gap: calc(var(--grid-gap) / 2);
  margin-bottom: 30px;
}

.pupilCard {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #EFEFEF;
  border-radius: 4px;
  padding: 10px;
  gap: var(--grid-gap);
}

.pupilCard .pupilLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--grid-gap);
}

.pupilCard .pupilInfos {
  flex: 1;
  display: flex;
  gap: var(--grid-gap);
}

.pupilCard .pupilInfos .pupilName {
  font-weight: bold;
}

.pupilCard button {
  border: none;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.newPupilForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--grid-gap);
}

.newPupilForm input {
  padding: 5px;
}

.pupilLine select[multiple] {
  height: 150px;
  width: 200px;
}

.editorContainer {
  display: flex;
  flex-direction: row;
  gap: var(--grid-gap);
  justify-content: center;
}

.constraintsEditor th {
  padding: 2px;
}

.constraintsEditor thead th {
  font-size: 14px;
  max-width: 45px;
  overflow-wrap: anywhere;
  text-align: left;
}

.constraintsEditor tbody th {
  text-align: left;
}

.constraintsEditor tbody td {
  text-align: center;
  min-width: 20px;
  min-height: 20px;
}

/* Highlight currently hovered row */
.constraintsEditor tbody tr:hover td, .constraintsEditor tbody tr:hover th {
  background-color: #EFEFEF;
}

/* Highlight currently hovered column */
.constraintsEditor td, .constraintsEditor th {
  position: relative;
} 

.constraintsEditor tbody td:hover::after,
.constraintsEditor tbody th:hover::after {
  content: "";
  position: absolute;
  background-color: #EFEFEF;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}
