.gridContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: var(--grid-gap);
}

.grid {
  display: flex;
  flex-direction: column;
  gap: var(--grid-gap);
  margin-left: calc(var(--tile-size) + var(--grid-gap));
}

.seatGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: var(--grid-gap);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--grid-gap);
}

.addRow {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  height: var(--tile-size);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  user-select: none;
}

.addRow:hover {
  box-shadow: 0px 2px 6px 1px #999999;
}

.columnButtons {
  display: flex;
  flex-direction: column;
  gap: var(--grid-gap);
  margin-bottom: calc(var(--tile-size) + var(--grid-gap));
}

.addColumn {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  width: var(--tile-size);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  user-select: none;
}

.addColumn:hover {
  box-shadow: 0px 2px 6px 1px #999999;
}

.seatTile {
  min-width: var(--tile-size);
  min-height: var(--tile-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  transition: all 0.1s ease-in-out;
  user-select: none;
}

.seatTile:hover {
  box-shadow: 0px 2px 6px 1px #999999;
}

.selectedSeatTile {
  background-color: #999999;
  color: #000;
}

.blackboardTile {
  width: 400px;
  margin-bottom: 30px;
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: #000;
  color: #fff;
  transition: all 0.1s ease-in-out;
  user-select: none;
} 
